
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding: 0 50px;
    text-underline-offset: 4px;
}
.header__links-list {
    display: flex;
    gap: 32px;
}
.header__link_active {
    text-decoration: none;
}
.header__links-list-item {
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__logo {
    width: 148px;
    height: 105px;
    display: block;
}
.header__logo-image {
    height: 100%;
}
.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    line-height: 24.3px;
    align-items: flex-start;
}
.header__address {
    max-width: 240px; 
    justify-self: end;
}
.cover {
    min-height: 757px;
    position: relative;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    color: white;
}
.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    inset: 0;
}
.cover__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 126%;
    margin: 165px 50px 207px;
    position: absolute;
    z-index: 1;
}
.aligned-text {
    display: block;
    width: 1000px;
}
.aligned-text-left {
    text-align: left;
}
.aligned-text-center {
    text-align: center;
}
.aligned-text-right {
    text-align: right;
}
.letter-spacing-extended {
    letter-spacing: 0.3em;
}
.no-letter-spacing {
    letter-spacing: 0;
}
.cover__description {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 656px 50px 50px;
    position: absolute;
    z-index: 1;
}
.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 20px;
}
.bet-batton {
    font-size: 22px;
    font-weight: 500;
    border: 1px solid white;
    padding: 12px 32px;
}
.lots {
    margin: 180px 24px 120px;
}
.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}
.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 596px;
}
.card-link {
    display: block;
    height: 100% ;
    text-decoration: none;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 48px 40px;
    justify-content: space-between;
    line-height: 135%; 
}
.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}
.card-title {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    z-index: 1;
    text-transform: uppercase;
}
.card-text {
    font-size: 20px;
    z-index: 1;
}
.lots__look-more-link {
    font-size: 20px;
    display: block;
    margin-left: 40px;
    margin-top: 28px;
    text-underline-offset: 4px;
}
.about {
    margin: 120px 24px 180px;
    min-height: 595px;
    display: grid;
    grid-template-columns: 334px 1fr;
}
.about__column__logo {
    justify-items: center;
}
.about__column__text {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.about__logo {
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-bottom: 47px;
    background-color: black;
    border-radius: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__logo-image {
    width: 148px;
    height: 114px;
}
.about__title {
    margin-top: 136px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-content: flex-end;
    font-size: 20px;
    line-height: 24px;
    max-width: 693px;
}
.footer {
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: start;
    justify-items: center;
}
.footer__address{
    max-width: 265px;
    text-underline-offset: 4px;
}
.footer__menu {
    text-underline-offset: 5px;
}
.footer__menu-list {
    list-style: none;
}
.footer__menu-list-item {
    text-align: center;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    width: 240px;
    height: 48px;
    margin-left: 17px;
}
